/.dart_tool
/build
/ios/Podfile.lock
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
/lib/env.dart
ios/build
env.dart-e
android/.idea
build.gradle-e
AndroidManifest.xml-e
MainActivity.kt-e
Info.plist-e
project.pbxproj-e
.last_build_id
.DS_Store
.fvm
.metadata
brian_flutter.iml
.vscode
android/brian_flutter_android.iml